$md1: 1440px;
$md2: 1200px;
$md3: 992px;
$md4: 767px;
$md5: 568px;
$md6: 412px;

$colorOrange: #FFCC00;

html,
body {
    height: 100%;
    box-sizing: border-box;

}


*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    color: #252525;
    overflow-x: hidden;

    &.overlay {
        height: 100vh;
        overflow: hidden;
    }
}


button,
input,
select {
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.page-content {
    min-height: 100%;
    position: relative;
    overflow-x: hidden;
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.btn-reset {
    background: none;
    border: none;
    display: block;
    cursor: pointer;
    outline: none;
}

.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}