<div class="popups">
  <div class="popups__inner">
    <div id="cart" class="popup">
      <div class="popup__header">
        Корзина
      </div>
      <div class="popup__body">
        <div class="cart-catalog">
          <!-- <div class="cart-card">
            <div class="cart-card__img">
              <img src="img/goods/goods_1.png" alt="goods_1">
            </div>
            <div class="cart-card__content">
              <div class="cart-card__name">Товар 1</div>
              <div class="cart-card__price">10 000р</div>
            </div>
            <button class="cart-card__delete btn">Удалить</button>
          </div>
          <div class="cart-card">
            <div class="cart-card__img">
              <img src="img/goods/goods_2.png" alt="goods_2">
            </div>
            <div class="cart-card__content">
              <div class="cart-card__name">Товар 1</div>
              <div class="cart-card__price">10 000р</div>
            </div>
            <button class="cart-card__delete btn">Удалить</button>
          </div>
          <div class="cart-card">
            <div class="cart-card__img">
              <img src="img/goods/goods_3.png" alt="goods_3">
            </div>
            <div class="cart-card__content">
              <div class="cart-card__name">Товар 1</div>
              <div class="cart-card__price">10 000р</div>
            </div>
            <button class="cart-card__delete btn">Удалить</button>
          </div> -->
        </div>
      </div>
      <div class="popup__close js-close-popup">
        <svg class="" width="22" height="22">
          <use xlink:href="./img/icons/icons.svg#x"></use>
        </svg>
      </div>
    </div>
    <div id="location" class="popup">
      <div class="popup__header">
        Выберите город
      </div>
      <div class="popup__body">
        <ul class="location-catalog">
          <li class="location-catalog__elem">
            <a class="location-catalog__link active" href="#">Москва</a>
          </li>
          <li class="location-catalog__elem">
            <a class="location-catalog__link" href="#">Санкт-Петербург</a>
          </li>
          <li class="location-catalog__elem">
            <a class="location-catalog__link" href="#">Краснодар</a>
          </li>
        </ul>
      </div>
      <div class="popup__close js-close-popup">
        <svg class="" width="22" height="22">
          <use xlink:href="./img/icons/icons.svg#x"></use>
        </svg>
      </div>
    </div>
  </div>
</div>